[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imgurpython = "*"
"pyqt5" = "*"
psutil = "*"
appdirs = "*"
pyyaml = ">=4.2b1"
"bs4" = "*"
lxml = "*"
pip = "*"
requests = "*"

[dev-packages]
pytest = "*"
pyinstaller = "*"
pynt = "*"
"pypiwin32" = "*"
ipython = "*"
sip = "*"
mypy = "*"

[requires]
python_version = "3.6"
